<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="Shopware\AppBundle\Test\Kernel\TestKernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/Resources</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="ShopwareAppBundle Testsuite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
            <arguments>
                <array>
                    <!-- set this option to 0 to disable the DebugClassLoader integration -->
                    <element key="debug-class-loader">
                        <integer>0</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>
